:root {
    --primary: rgb(214, 171, 0);
    --secondary: rgb(50, 50, 47);
    --gray: #f0f0f0;
    --success: rgb(214, 171, 0);
    --link-color: black;
    --link-decoration: underline;
    --link-hover-color: var(--primary);
    --link-hover-decoration: underline;
    --body-font-family: Montserrat,sans-serif;
    --body-font-size: 1rem;
    --body-font-weight: 500;
    --body-line-height: 1.8;
    --body-color: #32323F;
    --body-bg: #fff;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

/** xs size breakpoint **/
@media (min-width: 1px) and (max-width: 576px) {
    .lang-btn {
        margin-left: 12px;
    }

    a.nav-link.navbar-link {
        padding-left: 12px !important;
    }
}

/** sm size breakpoint **/
@media (min-width: 577px) and (max-width: 768px) {
    .lang-btn {
        margin-left: 12px;
    }

    a.nav-link.navbar-link {
        padding-left: 12px !important;
    }
}

/** md size breakpoint **/
@media (min-width: 769px) and (max-width: 992px) {
    .lang-btn {
        margin-left: 20px;
        margin-top: -40px;
    }

    a.nav-link.navbar-link {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}

/** lg size breakpoint **/
@media (min-width: 993px) and (max-width: 1200px) {
    .lang-btn {
        margin-left: 20px;
        margin-top: -30px;
    }

    a.nav-link.navbar-link {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}

/** xl size breakpoint **/
@media (min-width: 1201px) and (max-width: 1400px) {
    .lang-btn {
        margin-left: 20px;
        margin-top: -40px;
    }

    a.nav-link.navbar-link {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}

/** > xl size breakpoint **/
@media (min-width: 1400px) {
    .lang-btn {
        margin-left: 20px;
        margin-top: -40px;
    }

    a.nav-link.navbar-link {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}

/* Navbar */
#header {
    background-color: #fff;
    transition: background-color 0.3s ease-in-out,backdrop-filter 0.3s ease-in-out,-webkit-backdrop-filter 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

.navbar {
    background-color: var(--body-bg);
}

.navbar-text {
    font-weight: bold;
    padding-left: 12px;
    color: #424242;
}

.scrolled #header.floating {
    background-color: #fff;
}

.scrolled #header.floating,
.scrolled #header.affix {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.affix {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1035;
    left: 0;
}

.navbar-nav > li > a:not(.lang-btn) {
    -moz-box-sizing: border-box;
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    /* margin: 0 4px; */
    /* padding: 10px 15px; */
    border-radius: 5px 5px 5px 5px;
    border: none;
    text-decoration: none;
    color: #000;
    display: block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background-color: transparent;
}

.navbar-nav > li > a:link,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:visited {
    color: #000;
    text-decoration: none;
    /* background-color: transparent; */
}

.navbar-nav > li.show > a {
    color: #000;
    background-color: #D6AB00;
}

.navbar-nav > li.disabled > a {
    color: #949494;
    pointer-events: none;
    cursor: default;
  }


.navbar-nav .dropdown-menu {
    position: static;
}

.navbar-nav > li > a:active {
    color: #000;
    background-color: #e8e8e8;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.show > a {
    color: #000;
    background-color: #D6AB00;
}

a#nav_switch_fr{ 
    background-color: var(--primary)
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 20rem;
    padding: 0 0;
    margin: 0;
    font-size: 1rem;
    color: #32322F;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
    margin-top: 0.125rem;
}

@media (max-width:61.99875rem) {
    #header .dropdown-menu {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

.dropdown-item {
    padding: 0 !important;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-item a {
    display: block;
    padding: 0.25rem 1rem;
}

.dropdown-item a:hover {
    background-color: #D6AB00;
}

#header .navbar {
    min-height: 100%;
    height: auto;
}

#header .dropdown-item a:link,
#header .dropdown-item a:active,
#header .dropdown-item a:focus,
#header .dropdown-item a:visited {
    color: #32322F;
    text-decoration: none;
}

#header .dropdown-item a:link.active,
#header .dropdown-item a:active.active,
#header .dropdown-item a:focus.active,
#header .dropdown-item a:visited.active {
    color: #000;
    background: #dadada;
}

#header .dropdown-item a:hover,
#header .dropdown-item a.active:hover {
    color: #000;
    background: #D6AB00;
    text-decoration: none;
}

.dropdown-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #000;
    text-decoration: none;
    background-color: #D6AB00;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #dadada;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #B7B6B3;
    pointer-events: none;
    background-color: transparent;
}

#brandlogo {
    height: 50px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
    transition: -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .navbar-toggler {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.navbar-toggler:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
}

.navbar-toggler {
    font-size: 1.8rem;
    color: #000;
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav-item {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar > .container{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}