:root {
    --primary: rgb(214, 171, 0);
    --secondary: rgb(50, 50, 47);
    --gray: #f0f0f0;
    --success: rgb(214, 171, 0);
    --link-color: black;
    --link-decoration: underline;
    --link-hover-color: var(--primary);
    --link-hover-decoration: underline;
    --body-font-family: Montserrat,sans-serif;
    --body-font-size: 1rem;
    --body-font-weight: 500;
    --body-line-height: 1.8;
    --body-color: #32323F;
    --body-bg: #fff;
}

/* Body */
body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    background-color: var(--body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.btn-secondary {
    color: #000;
    background-color: #D6AB00;
    border-color: #D6AB00;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.btn-secondary:hover {
    color: #000;
    background-color: #ebd580;
    border-color: #dab31a;
}

.btn-secondary:focus {
    color: #000;
    background-color: #ebd580;
    border-color: #dab31a;
    -webkit-box-shadow: 0 0 0 transparent, 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
    box-shadow: 0 0 0 transparent, 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
}

.btn-secondary:active,
.btn-secondary.active,
.show>.btn-secondary.dropdown-toggle {
    color: #000;
    background-color: #debc33;
    border-color: #dab31a;
}

.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
}

.btn-secondary:disabled,
.btn-secondary.disabled {
    color: #000;
    background-color: #D6AB00;
    border-color: #D6AB00;
}

/* Navbar */
#header {
    background-color: #fff;
    transition: background-color 0.3s ease-in-out,backdrop-filter 0.3s ease-in-out,-webkit-backdrop-filter 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

.navbar {
    background-color: var(--body-bg);
}

.navbar-text {
    font-weight: bold;
    padding-left: 12px;
    color: #424242;
}

.scrolled #header.floating {
    background-color: #fff;
}

.scrolled #header.floating,
.scrolled #header.affix {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.affix {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1035;
    left: 0;
}

.navbar-nav > li > a {
    -moz-box-sizing: border-box;
    font-weight: var(--body-font-weight);;
    line-height: var(--body-line-height);;
    margin: 0 4px;
    padding: 10px 15px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #000;
    background-color: transparent;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-nav > li > a:link,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:visited {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.navbar-nav > li.show > a {
    color: #000;
    background-color: #D6AB00;
}

.navbar-nav > li.disabled > a {
    color: #949494;
    pointer-events: none;
    cursor: default;
  }


.navbar-nav .dropdown-menu {
    position: static;
}

.navbar-nav > li > a:active {
    color: #000;
    background-color: #e8e8e8;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.show > a {
    color: #000;
    background-color: #D6AB00;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 20rem;
    padding: 0 0;
    margin: 0;
    font-size: 1rem;
    color: #32322F;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
    margin-top: 0.125rem;
}

.dropdown-item {
    padding: 0 !important;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-item a {
    display: block;
    padding: 0.25rem 1rem;
}

.dropdown-item a:hover {
    background-color: #D6AB00;
}

#header .dropdown-item a:link,
#header .dropdown-item a:active,
#header .dropdown-item a:focus,
#header .dropdown-item a:visited {
    color: #32322F;
    text-decoration: none;
}

#header .dropdown-item a:link.active,
#header .dropdown-item a:active.active,
#header .dropdown-item a:focus.active,
#header .dropdown-item a:visited.active {
    color: #000;
    background: #dadada;
}

#header .dropdown-item a:hover,
#header .dropdown-item a.active:hover {
    color: #000;
    background: #D6AB00;
    text-decoration: none;
}

.dropdown-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #000;
    text-decoration: none;
    background-color: #D6AB00;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #dadada;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #B7B6B3;
    pointer-events: none;
    background-color: transparent;
}

#brandlogo {
    height: 120px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
    transition: -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .navbar-toggler {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.navbar-toggler:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
}

.navbar-toggler {
    font-size: 1.8rem;
    color: #000;
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.home-search{
    background-image: url('/static/images/latest/frdr-jumbo-mid.png');
    background-position: 0px 0px;
    min-height: 300px;
    margin-bottom: 3px;
    padding:  1px;
    border-radius: 0px;
}

.home-img-container {
    position: relative;
    min-height: calc(20vh);
}

.search-query-form {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.advanced_search {
    color: var(--primary);
    float: right;
    margin-left: 2em;
    margin-top: 0.75em;
    font-size: 1.05em;
}

a.advanced_search:hover, a.advanced_search:focus, a.advanced_search:active {
    color: var(--primary);
}

.home-circle {
    background-color: var(--secondary);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/** xs size breakpoint **/
@media (min-width: 1px) and (max-width: 576px) {
    .home-circle {
        height: 60px;
        width: 60px;
    }

    .home-metric-icon {
        color: var(--primary);
        font-size: 24px !important;
        justify-content: center;
        margin-top: 18px;
    }
}

/** sm size breakpoint **/
@media (min-width: 577px) and (max-width: 768px) {
    .home-circle {
        height: 60px;
        width: 60px;
    }

    .home-metric-icon {
        color: var(--primary);
        font-size: 24px !important;
        justify-content: center;
        margin-top: 18px;
    }
}

/** md size breakpoint **/
@media (min-width: 769px) and (max-width: 992px) {
    .home-circle {
        height: 80px;
        width: 80px;
    }

    .home-metric-icon {
        color: var(--primary);
        font-size: 32px !important;
        justify-content: center;
        margin-top: 24px;
    }
}

/** lg size breakpoint **/
@media (min-width: 993px) and (max-width: 1200px) {
    .home-circle {
        height: 80px;
        width: 80px;
    }

    .home-metric-icon {
        color: var(--primary);
        font-size: 32px !important;
        justify-content: center;
        margin-top: 24px;
    }
}

/** xl size breakpoint **/
@media (min-width: 1201px) and (max-width: 1400px) {
    .home-circle {
        height: 80px;
        width: 80px;
    }

    .home-metric-icon {
        color: var(--primary);
        font-size: 32px !important;
        justify-content: center;
        margin-top: 24px;
    }
}

/** > xl size breakpoint **/
@media (min-width: 1401px) {
    .home-circle {
        height: 80px;
        width: 80px;
    }

    .home-metric-icon {
        color: var(--primary);
        font-size: 32px !important;
        justify-content: center;
        margin-top: 24px;
    }
}

.btn.help {
    position: fixed;
    margin-top: calc(80vh);
    z-index: 1000;
    margin-left: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-collection-icon {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    object-fit: scale-down;
}

.carousel-control-prev {
    background-color: var(--secondary) !important;
}

.carousel-control-next {
    background-color: var(--secondary) !important;
}

/* Footer */
.site-footer {
    padding: 1rem 0;
    margin-top: 0;
    background-color: var(--secondary) !important;
    color: var(--gray);
}

.site-footer .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}


.site-footer .row > * {
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.site-footer a {
    color: var(--gray);
    text-decoration: underline;
}

.site-footer h2 {
    color: var(--gray);
    font-weight: 600;
}

.site-footer a.social-media-icon {
    color: var(--gray) !important;
}


.social-media-buttons {
    padding: 1rem 0;
    gap: 1rem !important;
}

a.social-media-icon {
    color: #000 !important;
    text-decoration: none !important;
    font-size: 2.5rem;
}

@media (max-width:61.99875rem) {

    .region-footer-second>.block,
    .region-footer-second>.block .d-flex {
        padding-bottom: 2rem;
    }
}

@media (min-width:62rem) {
    .region-footer-second {
        border-right: 1px solid #fff;
    }
}

.frdr-footer-logo {
    height: 150px;
    max-width: 100%;
}

.fixed-left {
    position: absolute;
    left: 0;
}

.alliance-footer-logo {
    height: 20px;
}


#nav_switch_en {
    color: #000;
    background-color: #D6AB00;
    border-color: #D6AB00;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

#nav_switch_en:hover {
    color: #000;
    background-color: #ebd580;
    border-color: #dab31a;
}

#nav_switch_en:focus {
    color: #000;
    background-color: #ebd580;
    border-color: #dab31a;
    -webkit-box-shadow: 0 0 0 transparent, 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
    box-shadow: 0 0 0 transparent, 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
}

#nav_switch_en:active,
#nav_switch_en.active,
.show>#nav_switch_en.dropdown-toggle {
    color: #000;
    background-color: #debc33;
    border-color: #dab31a;
}

#nav_switch_en:active:focus,
#nav_switch_en.active:focus,
.show>#nav_switch_en.dropdown-toggle:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.25rem rgba(182, 145, 0, 0.5);
}

#nav_switch_en:disabled,
#nav_switch_en.disabled {
    color: #000;
    background-color: #D6AB00;
    border-color: #D6AB00;
}