:root {
    --primary: rgb(214, 171, 0);
    --secondary: rgb(50, 50, 47);
}

/** Change layout and colour of main container **/
#main-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 100%;
    max-width: 100% !important;
}

.ActionList-item--hasSubItem button::after {
    content: "❯";
    float: right;
    transform: rotate(90deg);
}

.ActionList-item--hasSubItem button.collapsed::after {
    transform: rotate(0deg);
    transition: transform 0.1s ease;
}

@media (hover: hover) {
    .ActionList-item:not(.ActionList-item--hasSubItem):hover,
    .ActionList-item.ActionList-item--hasSubItem > .ActionList-content:hover {
        cursor: pointer;
        background-color: var(--primary);
    }

    .ActionList-item:not(.ActionList-item--hasSubItem):hover:not(.ActionList-item--navActive),
    .ActionList-item.ActionList-item--hasSubItem > .ActionList-content:hover:not(.ActionList-item--navActive) {
        /* Support for "Windows high contrast mode" */
        outline: solid 1px transparent;
        outline-offset: -1px;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0);
        margin-left: 100p;
    }
}

.ActionList--subGroup {
    padding-top: 0px;
}

.sidebar-item-icon {
    display: inline;
    color: var(--primary);
    pointer-events: none;
    align-items: center;
    padding-right: 0.25rem;
}

@media (min-width: 992px) {
    #dashboard-sidebar {
        flex: 0 0 250px;
        background-image: linear-gradient(0deg, #3232232F, #FFFFFF);
    }    
}

.site-footer {
    margin-top: 0rem !important;
}


ul.ActionList.ActionList--subGroup {
    list-style-type: none;
    position: relative;
}

a.ActionList-content.ActionList-content--visual16 {
    list-style-type: none;
    border-left: 2px solid rgba(0,0,0,0.2);
    left: -22px;
}

.ActionList-item-label {
    padding-left: 1em;
    position: relative;
}

.ActionList-item-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-left: 0 none transparent;
}

li.ActionList-item.ActionList-item--subItem {
    padding-left: 2.5rem;
}

.watermark {
    width: 230px;
    height: 300px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0px;
    max-width: 100%;
}

.watermark::after {
    content: "";
    background: url(/static/images/latest/logos/FRDR_logo.svg);
    bottom: 0px;
    position: absolute;
    rotate: 45deg;
    opacity:0.2;
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 300px;
}

.card.notification {
    border: none;
}

.card.notification > .card-header {
    background-image: none;
    background-color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.card.notification > .card-body {
    padding-top: .25rem;
    margin-top: 1.25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: none;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.card.panel-default {
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.card.panel-default > .card-header {
    background-color: rgba(214, 171, 0, 0.3);
    background-image: none;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
}

form#submit_new_dataset {
    padding-top: 1.25rem
}

#submit_new_dataset .alliance-btn-secondary {
    padding-left: 1.75rem;
    padding-right: 0rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 23px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

#submit_new_dataset .fa-upload {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card.alert-notice {
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: none;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: row;
}

.card.alert-notice > .alert.alert-warning {
    background-image: none;
    background-color: #FFF;
    color: #000;
    border: none;
    box-shadow: none;
    margin: 0;
}

/* Quota Usage Graph */
.progress.storage-percentage,
.progress.files-percentage {
    background-color: inherit;
    border-radius: 0px;
}

.progress> .progress-bar {
    text-align: right;
    padding-right: 10px;
    border-radius: 0rem;
    font-weight:700;
}

.progress.storage-percentage > .progress-bar:not(.bg-danger):not(.bg-warning) {
    background-color: var(--secondary) !important;
    color: #F9F9F9;
}

.progress.files-percentage > .progress-bar:not(.bg-danger):not(.bg-warning)  {
    background-color: var(--primary) !important;
    color: var(--secondary);
}

.progress-bar > span.text-indent {
    text-indent: 15px;
    position: absolute;
    color: var(--secondary);
}

#quota-usage {
    border-right: solid 2px #D9D9D9;
}