:root {
    --primary: rgb(214, 171, 0);
    --secondary: rgb(50, 50, 47);
}

/** Change layout and colour of main container **/
#main-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 100%;
    max-width: 100% !important;
}

@media (min-width: 992px) {
    .ActionList-item--hasSubItem button::after {
        content: "â¯";
        float: right;
        transform: rotate(90deg);
    }
}

.ActionList-item--hasSubItem button.collapsed::after {
    transform: rotate(0deg);
    transition: transform 0.1s ease;
}

@media (hover: hover) {
    .ActionList-item:not(.ActionList-item--hasSubItem):hover,
    .ActionList-item.ActionList-item--hasSubItem > .ActionList-content:hover {
        cursor: pointer;
        background-color: var(--primary);
    }

    .ActionList-item:not(.ActionList-item--hasSubItem):hover:not(.ActionList-item--navActive),
    .ActionList-item.ActionList-item--hasSubItem > .ActionList-content:hover:not(.ActionList-item--navActive) {
        /* Support for "Windows high contrast mode" */
        outline: solid 1px transparent;
        outline-offset: -1px;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0);
        margin-left: 100p;
    }
}

.ActionList--subGroup {
    padding-top: 0px;
}

.ActionList-item.ActionList-item--navActive:not(.ActionList-item--danger) {
    background: var(--primary);
}

.sidebar-item-icon {
    display: inline;
    color: var(--primary);
    pointer-events: none;
    align-items: center;
    padding-right: 0.25rem;
}

@media (min-width: 992px) {
    #dashboard-sidebar {
        flex: 0 0 240px;
        background-image: linear-gradient(0deg, #3232232F, #FFFFFF);
        min-height: 800px;
    }    
}

#dashboard-dropdown-menu {
    border: 1px solid #979797;
    border-radius: 8px;
    margin: 1rem 0;
}

#dashboard-dropdown-menu .dropdown-menu > li > a:hover, 
#dashboard-dropdown-menu .dropdown-menu > li > a:focus, 
#dashboard-dropdown-menu .dropdown-menu > li > a:active {
    background-color: var(--primary);
}

.site-footer {
    margin-top: 0rem !important;
}


ul.ActionList.ActionList--subGroup {
    list-style-type: none;
    position: relative;
}

a.ActionList-content.ActionList-content--visual16 {
    list-style-type: none;
    border-left: 2px solid rgba(0,0,0,0.2);
    left: -22px;
}

.ActionList-item-label {
    padding-left: 1em;
    position: relative;
}

.ActionList-item-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-top: 0 none transparent;
    border-right: 0 none transparent;
    border-left: 0 none transparent;
}

li.ActionList-item.ActionList-item--subItem {
    padding-left: 2.5rem;
}

.watermark {
    width: 230px;
    height: 300px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0px;
    max-width: 100%;
}

.watermark::after {
    content: "";
    background: url(/static/images/latest/logos/FRDR_logo.svg);
    bottom: 0px;
    position: absolute;
    rotate: 45deg;
    opacity:0.2;
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 300px;
}

.card {
    margin-bottom: 32px;
}

.card.notification {
    border: none;
}

.card.notification > .card-header {
    background-image: none;
    background-color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.card.notification > .card-body {
    padding-top: .25rem;
    margin-top: 1.25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: none;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.card.panel-default {
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.card.panel-default > .card-header {
    background-color: rgba(214, 171, 0, 0.3);
    background-image: none;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
}

#submit_new_dataset {
    text-align: center;
}

@media (min-width: 992px) {
    #submit_new_dataset {
        text-align: start;
    }
}

form#submit_new_dataset {
    padding-top: 1.25rem
}

#submit_new_dataset .alliance-btn-secondary {
    padding-left: 1.75rem;
    padding-right: 0rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 23px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

@media (max-width : 768px) {
    #submit_new_dataset .alliance-btn-secondary {
        font-size: 18px;
        font-weight: 700;
    }
}

#submit_new_dataset .fa-upload {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card.alert-notice {
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: none;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: row;
}

.card.alert-notice > .alert.alert-warning {
    background-image: none;
    background-color: #FFF;
    color: #000;
    border: none;
    box-shadow: none;
    margin: 0;
}

/* Quota Usage Graph */
.progress.storage-percentage,
.progress.files-percentage {
    background-color: inherit;
    border-radius: 0px;
}

.progress> .progress-bar {
    text-align: right;
    padding-right: 10px;
    border-radius: 0rem;
    font-weight:700;
}

.progress.storage-percentage > .progress-bar:not(.bg-danger):not(.bg-warning) {
    background-color: var(--secondary) !important;
    color: #F9F9F9;
}

.progress.files-percentage > .progress-bar:not(.bg-danger):not(.bg-warning)  {
    background-color: var(--primary) !important;
    color: var(--secondary);
}

.progress-bar > span.text-indent {
    text-indent: 15px;
    position: absolute;
    color: var(--secondary);
}

@media (max-width: 992px) {
    #quota-usage tr {
        display: flex;
        flex-wrap: wrap;
    }
    #quota-usage tr>td:first-child {
        width: 100%;
    }

    #quota-usage .usage-text {
        width: 30%;
    }

    #quota-usage .usage-graph {
        width: 70%;
        align-self: center;
    }

    #quota-usage {
        border-bottom: solid 2px #D9D9D9;
    }
}

@media (min-width: 992px) {
    #quota-usage {
        border-right: solid 2px #D9D9D9;
    }
}

/* Datasets Section */
.nav-tabs .nav-link {
    color: #000;
    border: none;
    font-size: 1.5rem;
}

.nav-tabs .nav-link.active {
  border-bottom: 3.57px solid #F0B90B;
  font-weight: 600;
}

.card.datasets {
    border:none;
}

.card.datasets > .card-body {
    padding-top: 0;
}

.card.datasets .dataset-header-row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0;
    border-top: solid 1px #D1D1D1;
    border-bottom: solid 1px #D1D1D1;
}

.card.datasets .dataset-row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0;
    box-shadow: none;
}

@media (max-width: 992px) {
    .card.datasets .dataset-row {
        border: solid 1px #D1D1D1;
    }
}

@media (min-width: 992px) {
    .card.datasets .dataset-row {
        border-bottom: solid 1px #D1D1D1;
    }
}

.card.datasets .dataset-inner-col {
    align-self: center;
}

.card.datasets .btn {
    border-radius: 38px;
    background-image: none;
    box-shadow: 0px 0px 14.87px rgba(0, 0, 0, 0.1);
    border: none;
} 

a#viewall {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
}

.badge-inprogress {
    background-color: #FFEDD5;
}

.badge-incuration {
    background-color: #E3F5FF;
}

.badge-inembargo {
    background-color: #E1BEE7;
}

.badge-published {
    background-color: #D4F8D3;
}

.card.datasets .status.badge {
    font-size: 100%;
    font-weight: inherit;
    padding: 0.5rem 1rem;
    white-space: normal
}

/* Publish Dashboard Pagination */
.pagination {
    gap: 10px;
}

.page-link {
    border-radius: 8px !important;
}

.page-item:first-child .page-link i,
.page-item:last-child .page-link i {
    padding: 0px 0.5rem;
}

.page-item .page-link {
    background-color: #F1F7FF;
    border-color: #F1F7FF;
}

.page-item.disabled .page-link {
    background-color: #F1F7FF;
    border-color: #F1F7FF;
}